@import url('https://use.typekit.net/hoh1goc.css');

:root {
  --view-size: 1200px;
  --mobile-size: 500px;
  --tablet-size: 768px;
  --desktop-size: 1024px;

  --color-primary: black;
  --color-bg: white;
  --color-accent: #aaaaaa;
  --color-accent-lite: #eeeeee;

  --overlay-bg: var(--color-accent-lite);

  --font-title: bebas-neue-pro, sans-serif;
  --font-text: roboto, sans-serif;
  --logo-font-size: clamp(2.75rem, 2.75vw, 3.5rem);
  --logo-line-height: clamp(2rem, 2.25vw, 2.75rem);
}

[data-theme='dark'] {
  --overlay-bg: var(--color-accent-dark);
}
