@import url('https://use.typekit.net/hoh1goc.css');

:root {
  --view-size: 1200px;
  --mobile-size: 500px;
  --tablet-size: 768px;
  --desktop-size: 1024px;

  --font-title: bebas-neue-pro, sans-serif;
  --font-text: roboto, sans-serif;
  --logo-font-size: clamp(2.75rem, 2.75vw, 3.5rem);
  --logo-line-height: clamp(2rem, 2.25vw, 2.75rem);
  --text-font-size: clamp(1.5rem, 2vw, 1.75rem);
  --text-line-height: clamp(2rem, 3vw, 2.5rem);
  --gallery-title-font-size: clamp(3rem, 3vw, 5rem);
  --gallery-card-font-size: clamp(2rem, 3vw, 3.5rem);

  --color-primary: black;
  --color-secondary: white;
  --color-bg: white;
  --color-accent: #aaaaaa;
  --color-accent-lite: #eeeeee;
  --color-accent-dark: #555555;
  --color-highlight: #e35a5a;
  --theme-toggler: #5881d2;

  --overlay-bg: var(--color-accent-lite);
  --nav-active-link: var(--color-accent-dark);
  --link--hover: var(--color-accent);
  --brand-statement-bg: var(--color-accent-lite);
  --footer-icon: var(--color-accent);
  --entry-text: var(--color-accent-dark);
  --homepage-border: var(--color-primary);
  --homepage-link-hovers: var(--color-primary);
  --logo--hover: var(--color-accent);
  --gallery-card-color: var(--color-secondary);
  --gallery-card-bg: var(--color-primary);
}

[data-theme='dark'] {
  --color-primary: #d1d1d1;
  --color-secondary: #111111;
  --color-bg: #111111;
  --color-accent: #666666;
  --color-accent-lite: #aaaaaa;
  --color-accent-dark: #3f3f3f;
  --color-accent-darker: #262626;
  --color-highlight: #e35a5a;
  --theme-toggler: #ffc400;

  --overlay-bg: var(--color-accent-dark);
  --nav-active-link: var(--color-accent-lite);
  --link--hover: var(--color-accent-lite);
  --brand-statement-bg: var(--color-accent-darker);
  --footer-icon: var(--color-accent);
  --entry-text: var(--color-accent-lite);
  --homepage-border: var(--color-accent-lite);
  --homepage-link-hovers: var(--color-accent-lite);
  --logo--hover: var(--color-accent-lite);
  --gallery-card-color: white;
  --gallery-card-bg: black;
}

* {
  font-size: 12px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-title);
  font-weight: 600;
}

html {
  position: relative;
}

body {
  min-height: 100vh;
  font-family: var(--font-text);
  font-weight: 400;
  font-style: normal;
  padding: 75px 20px 150px 20px;
  margin: auto;
  animation: fadeInAnimation ease-in-out 0.3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  color: var(--color-primary);
  background-color: var(--color-bg);

  &.modal-disable {
    overflow: hidden;
  }
}

a {
  text-decoration: none;
  color: var(--color-primary);

  &:hover {
    color: var(--link--hover);
  }

  &:active {
    color: var(--color-primary);
  }
}

b,
.bold {
  font-weight: 500;
}

i,
.italic {
  font-style: italic;
}

@media only screen and (min-width: 1024px) {
  body {
    max-width: var(--view-size);
  }
}
