#theme-toggler {
  cursor: pointer;
  border: none;
  background: none;

  svg {
    width: 18px;
    height: 18px;
    color: var(--theme-toggler);
  }

  &:hover {
    svg {
      color: var(--color-primary);
    }
  }
}

@media (hover: none), (hover: on-demand) {
  #theme-toggler {
    &:hover {
      svg {
        color: var(--color-primary);
      }
    }
  }
}
