---
import { Image } from 'astro:assets';
import Layout from '../layouts/Layout.astro';
import { contentfulClient } from '../lib/contentful';
import { SnapGalleryType } from '../types/contentful';

const snapGalleries = await contentfulClient.withoutUnresolvableLinks.getEntries<SnapGalleryType>({
  content_type: 'snapGallery',
});
---

<Layout>
  <div class="snap-page">
    <div class="page-title">Snap</div>
    <div class="cards-container">
      {
        snapGalleries.items.map((gallery) => {
          if (!gallery.fields.images) throw new Error('Images info not found in Snap Gallery');
          const coverImage = gallery.fields.images.find(
            (img) => img?.fields.title === gallery.fields.coverImage
          );
          if (!coverImage || !coverImage.fields.file) throw new Error('Cover Image not found.');
          return (
            <a href={`${gallery.fields.slug}`} class="card-link">
              <div class="card-container">
                <div class="cover-image-wrap">
                  <div class="cover-image">
                    <div class="image-container">
                      <Image
                        src={`https://${coverImage.fields.file.url}`}
                        alt={coverImage.fields.description || ''}
                        inferSize
                      />
                    </div>
                  </div>
                </div>
                <div class="card-title">{gallery.fields.galleryTitle}</div>
              </div>
            </a>
          );
        })
      }
    </div>
  </div></Layout
>
