<button id="openModal">Open</button>

<script>
  import { isModalOpen } from '../lib/modalStore';

  // Set the store to true when the button is clicked
  function openModal() {
    isModalOpen.set(!isModalOpen.get());
  }

  // Add an event listener to the button
  document.getElementById('openModal')?.addEventListener('click', openModal);
</script>
