---
import SocialLinks from './SocialLinks.astro';
---

<footer class="footer-container">
  <div class="social-links"><SocialLinks /></div>
  <p class="footer-text">
    All works © 2020 - {new Date().getFullYear()} Kaung Nan Dar Shein. All rights reserved, I suppose.
    Powered by insomnia, unemployed tears, and people with avoidant attachment style.
  </p>
</footer>

<style>
  .footer-container {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 20px 20px;
  }

  .footer-text {
    color: var(--color-accent);
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.7rem;
  }

  .social-links {
    margin-bottom: 15px;
  }
</style>
