---
import { Icon } from 'astro-icon/components';
import ThemeToggler from './ThemeToggler.tsx';
const footerItems = [
  { icon: 'fa6-brands--linkedin-in', href: 'https://www.linkedin.com/in/kndshein' },
  { icon: 'ri--instagram-fill', href: 'https://www.instagram.com/durian.puberty' },
  { icon: 'fa-brands--medium-m', href: 'https://medium.com/@kndshein' },
];
---

<section>
  <ul>
    {
      footerItems.map((item) => {
        return (
          <li>
            <a target="_blank" rel="noopener noreferrer" href={item.href}>
              <Icon name={item.icon} />
            </a>
          </li>
        );
      })
    }
    <li><ThemeToggler client:only="react" /></li>
  </ul>
</section>

<style>
  ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  li {
    list-style-type: none;
    margin-right: 10px;

    &:last-child {
      margin: 0;
    }
  }

  a {
    display: block;
  }

  svg {
    width: 23px;
    height: 23px;
    color: var(--footer-icon);

    &:hover {
      color: var(--color-primary);
    }
  }

  @media (hover: none), (hover: on-demand) {
    a {
      &:hover {
        svg {
          color: var(--color-accent);
        }
      }
    }
  }
</style>
